*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    position: relative;
    max-width: 1200px;
    margin: auto;
    z-index: 22;
}
.main-content{
    height: 1027px;
    position: relative;
    background: #ffffff url("../img/bg-img.png") top 0 left 0 no-repeat;
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 106px;
    z-index: 1;
}
.header-phone{
    display: flex;
    align-items: center;
}
.phone-link{
    margin-left: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 15px;
    color: #ffffff;
}
.header-basket{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.main-title{
    margin-top: 5px;
    margin-bottom: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #ffffff;
}
.main-subtitle{
    margin-top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.red{
    color:red;
}
.main-description{
    margin-top: 15;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 20px;
    color:#ffffff;
}
.main-button{
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    color:#ffffff;
    padding: 15px 11px;
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid #FF0000;
    border-radius: 100px;
    cursor: pointer;
    }
.triangle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.blackout{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.55;
    z-index: 0;
}
.clients{
    text-align: center;
    padding-bottom: 80px;
}
.clients-title{
    margin-top: 80px;
    margin-bottom: 33px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 15px;
    color:#000000;
}
.clients-logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.client-logo{
    flex-basis: 50%;
}
.clients-button{
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 15px;
    color: #292929;
    padding: 18px 31px;
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid #FF0000;
    border-radius: 100px;
    cursor: pointer;
    margin-bottom: 42px;
}
.clients-qualities{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.client-quality{
    text-align: center;
}
.select-design{
    text-align: left;
    padding: 80px 0px 180px 0px;
}
.select-design-title{
    text-align: center;
    font-size: 40px;
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.select-design-subtitle{
    font-size: 30px;
    font-weight: 500;
    line-height: 1.55;
    color: #0d0d0d;
    margin-bottom: 80px;
    margin-top: 30px;
}
.sliders{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.slider-images{
    position: relative;
    display: inline-block;
}
.slider-image{
    display: none;
}
.slider-image img{
    width: 560px;
    height: 375px;
}
.slider-image.active{
    display: block;
}
.arrow{
    position: absolute;
    border-radius: 100%;
    border: none;
    padding: 2px;
    cursor: pointer;
}
.arrow:hover{
    background-color: #ff0000;
}
.arrow-left{
    left:3%;
    top: 50%;
    transform: translate(0, -50%) rotate(180deg);
}
.arrow-right{
    right: 3%;
    bottom: 50%;
    transform: translate(0, 50%);
}
.slider-button{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.55;
    font-weight: 500;
    border: none;
    color:#FFFFFF;
    background-color: #e60e0e;
    width: 303px;
    height: 62px;
    cursor: pointer;
}
.slider-button:hover{
    background-color: #0D0D0D;
}
.design{
    position: relative;
    background-color: #F2F2F2;
    padding: 35px;
}
.design::before{
    content: '';
    position: absolute;
    width: 291px;
    height: 18px;
    background: url(../img/design-constructor/dot.png);
    left: -261px;
    top: 45px;
}
.design-title{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    color: #212529;
}
.design-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design-constructor-subtitle{
    text-transform: uppercase;
    margin: 0;
    font-size: 12pt;
    font-weight: bold;
    color: #212529;
    margin-bottom: 20px;
}
.select-block{
    display: flex;
}
.select-picture{
    margin-bottom: 30px;
}
.select-block-item{
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.select-block-item-bg{
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 7px;
    cursor: pointer;
}
.point{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 15px;
    width: 15px;
    background-color: #ff3448;
    border-radius: 100%;
}
.point-active{
    display: block;
}
.select-color{
    margin-bottom: 15px;
}
.select-color .select-block-item{
    flex-direction: column;
    text-align: center;
}
.select-block-color{
    display: none;
}
.select-block-item-image{
    width: 58px;
    height: 58px;
    border-radius: 100%;
    border: 3px solid white;
    cursor: pointer;
}
.select-block-item-image-active{
    border: 3px solid #cf4f42;
}
.select-insert .select-block-item{
    flex-direction: column;
    text-align: center;
}
.select-block-label{
    font-weight: 300;
    font-size: 10pt;
    margin-top: 5px;
    max-width: 80px;
}
.design-image{
    position: relative;
}
.design-image-main{
    width: 100%;
    height: 100%;
}
.design-insert-image{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.design-button-block{
    background-color: #EDEDED;
    padding: 40px 30px;
    margin-top: 0px;
}
.design-button{
    color: #ffffff;
    background: #ff3448;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 15px 25px 15px 25px;
    border: none;
    line-height: 1.75;
    font-weight: bold;
    cursor: pointer;
    font-size: 12pt;
}
.design-button:hover{
    background-color: #D42C3E;
}
.types-of-skin{
    background-color: #F2F2F2;
}
.type-of-skin-block{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.type-of-skin{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0;
}
.type-of-skin:nth-child(2){
    background: rgba(224,224,224,0.3);
}
.type-of-skin:nth-child(3){
    background: rgba(224,224,224,0.6);
}
.type-of-skin:nth-child(4){
    background: rgba(224,224,224,0.8);
}
.type-of-skin-title{
    border-bottom: 1px solid #ff3448;
    display: inline-block;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: 300;
}
.type-of-skin-type{
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.type-of-skin-price{
    font-weight: bold;
    font-size: 14pt;
    color: #212529;
}
.skin-characteristics{
    font-weight: bold;
    border-bottom: 10px solid white;
    margin-bottom: 92px;
    min-width: 20%;
}
.skin-description{
    border-bottom: 10px solid white;
}
.skin-description-image{
    margin: 30px;
}
.skin-description-width,.skin-description-cykles,.skin-description-garanty,.skin-characteristics-width,.skin-characteristics-cycles,.skin-characteristics-garanty{
    padding: 20px 10px;
    border-top: 1px solid #e0e0e0;
    font-size: 14pt;
}
.skin-description-image{
    width: 251px;
    height: 128px;
}
.buy-button{
    cursor: pointer;
    text-transform: uppercase;
    background: #ff3448;
    color: #ffffff;
    font-weight: bold;
    padding: 20px 10px;
    border-radius: 10px;
    border:none;
    font-size: 14pt;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;

}
.sertificates{
    background-color: #F2F2F2;
    padding-top: 40px;
    padding-bottom: 90px;
}
.sertificates-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 45px;
}
.sertificate-images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sertificate-image{
    width: 250px;
    height: 315px;
}
.reviews{
    text-align: center;
    background: #000 url("../img/reviews-bg.png") top 0 left 0 no-repeat;
    background-size: cover;
}
.reviews-title{
    padding-top: 111px;
    padding-bottom: 111px;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 15px;
    color: #ffffff;
    margin: 0px;
}
.review{
    margin-right: 22px;
}
.reviews-block{
    margin-bottom: 117px;
}
.reviews-button{
    padding: 30px 53px;
    font-weight: bold;
    font-size: 25px;
    line-height: 25px;
    color: #FFFFFF;
    background: rgba(255, 0, 0, 0.3);
    border: 1px solid #FF0000;
    border-radius: 100px;
    margin-bottom: 178px;
    cursor: pointer;
}
.footer{
    text-align: center;
    padding-top: 53px;
    padding-bottom: 53px;
    background-color: #3D3D3D;
}
.footer-text{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
}